@use "global" as *;

.top-breadcrumb {
    padding-top: rem(8);
    padding-left: rem(15);
}

.top-breadcrumb.top-breadcrumb--404 {
    background-color: $green;
    color: $white;
    margin-top: rem(80);
    @include mq("md") {
        margin-top: rem(90);
    }
}