@use "global" as *;

.blog-contents-archive__link {
    color: $green;
    font-size: rem(24);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 1.4583;
    margin-top: rem(24);
}