@use "global" as *;

.blog-detail__inner.common-fish::before {
    top: -0.6%;
    @include mq("md") {
        top: 1.3%;
    }
}

.blog-detail__contents {
    margin-top: rem(48);
}

.blog-detail__main {
    @include mq("md") {
        margin-top: rem(100);
        // display: flex;
        flex-direction: column;
    }
}