@use "global" as *;






.blog-list-contents-side {
    @include mq("md") {
        width: 100%;
        max-width: 27.222%;
    }
}

.blog-list-contents-side__reviews {
    margin-top: rem(89);
}

.blog-list-contents-side__campaign {
    margin-top: rem(93);
}

.blog-list-contents-side__archive {
    margin-top: rem(90);
}

