@use "global" as *;

.blog-contents-archive__link {
    color: $green;
    font-size: rem(24);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 1.4583;
    margin-top: rem(29);
}

.blog-contents-archive__inner {
    margin-left: rem(25);
    margin-right: rem(25);
    @include mq("md") {
        margin-left: 0;
        margin-right: 0;
    }
}

.blog-contents-archive__month li {
    margin-top: rem(4);
    margin-left: rem(27);
}

.blog-contents-archive__year summary {
    font-size: rem(24);
    font-weight: $regular;
    font-family: $third-font-family;
    margin-left: rem(5);
    margin-top: rem(5);
}

// .blog-contents-archive__year summary::marker {
//     margin-right: rem(5);
// }
