@use "global" as *;

.blog-detail__contents {
    margin-top: rem(52);
}

.blog-detail__main {
    @include mq("md") {
        margin-top: rem(150);
        // display: flex;
        flex-direction: column;
    }
}