@use "global" as *;

.breadcrumb {
    // padding-top: rem(8);
    // padding-left: rem(15);
    // margin-top: rem(8);
    margin-left: rem(15);
}

.breadcrumb.breadcrumb--404 {
    background-color: $green;
    color: $white;
    margin-top: rem(80);
    @include mq("md") {
        margin-top: rem(90);
    }
}