@use "global" as *;

.category-button__list {
    //  display: grid;
    //  grid-template-columns: repeat(auto-fit, 10rem);
    // // column-gap: rem(21);
    //  row-gap: rem(16);
    // max-width: rem(345);
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(21);
    margin: auto;
    @include mq("md") {
        justify-content: flex-start;
        // max-width: rem(744);
        gap: rem(16) rem(32);
        // margin-left: 0;
    }
}

.category-button__list-item {
    display: block;
    font-size: rem(14);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 1.57142;
    color: $green;
    border: rem(1) solid $green;
    flex-basis: rem(158);
    max-width: rem(300);
    min-width: rem(100);
    width: fit-content;
    padding-top: rem(4.5);
    padding-bottom: rem(4.5);
    transition: 0.3s transform, 0.3s opacity;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-button__list-item.is-active {
    color: $white;
    background-color: $green;
}

.category-button__list-item:hover {
    color: $white;
    background-color: $green;
    cursor: pointer;
}