@use "global" as *;

.contact-form__inner.common-fish::before {
    top: -2.4%;
    @include mq("md") {
        top: -4.8%;
    }
}

.contact-form__inner.inner {
    @include mq("md") {
        max-width: rem(750);
    }
}