@use "global" as *;

.contact-logo {
    border-bottom: rem(1) solid $green;
    text-align: center;
}

.contact-logo__link img {
    width: rem(174);
    display: inline-block;
    @include mq("md") {
        width: rem(200);
    }
}