@use "global" as *;

.footer-nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}


.footer-nav__body {
    display: flex;
    justify-content: center;
    @include mq("md") {
        gap: rem(34);
        margin-left: auto;
    }
}

.footer-nav__left {
    @include mq("md") {
        display: flex;
        gap: rem(140);
        width: calc(50% - rem(14));
    }
}

.footer-nav__right {
    margin-left: rem(28);
    @include mq("md") {
        display: flex;
        gap: rem(140);
        width: calc(50% - rem(14));
    }
}

.footer-nav__wrap {
    margin-top: rem(15);
}

.footer-nav__item a {
    display: block;
    width: 100%;
    font-weight: $regular;
    font-family: $third-font-family;
    font-size: rem(16);
    line-height: 1.125;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(12);
    white-space: nowrap;
}

.footer-nav__item.footer-nav__item--title a {
    font-weight: $bold;
}

.footer-nav__item.footer-nav__item--title {
    margin-left: rem(-25);
}

.footer-nav__item.footer-nav__item--title a:before {
    content: url(/assets/images/common/hitode.svg);
    width: rem(18);
    height: rem(18);
    margin-right: rem(4);
}

.footer-nav__copyright {
    font-size: rem(14);
    line-height: calc(18 / 12);
    font-weight: $regular;
    margin-top: rem(22);
    text-align: center;
    @include mq("md") {
        font-size: rem(17);
        line-height: 1.2857;
        margin-top: rem(66);
    }
}

.footer-nav__item-indent {
    display: block;
    @include mq("md") {
        display: none;
    }
}