@use "global" as *;

.form__item,
.form__checkbox {
    padding-top: rem(24);
    padding-bottom: rem(24);
    border-bottom: rem(1) dashed $green;
    @include mq("md") {
        padding-top: rem(40);
        padding-bottom: rem(40);
        display: flex;
    }
}

.form__item dt,
.form__checkbox dt {
    font-size: rem(16);
    font-weight: $bold;
    font-family: $third-font-family;
    line-height: 1.4375;
    color: $darkgreen;
    @include mq("md") {
        width: 31.429%;
    }
}

.form__item dd {
    color: $lightblue;
    @include mq("md") {
        width: 68.571%;

    }
}

.form__item-required {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 1.4166;
    color: $white;
    background-color: $orange;
    padding: rem(2) rem(16);
    margin-left: rem(8);
}

.form__item-input {
    margin-top: rem(16);
    font-size: rem(16);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 1.4375;
    color: $lightblue;
    padding: rem(8) rem(16);
    border: rem(1) solid $green;
    width: 100%;
    @include mq("md") {
        margin-top: rem(0);
    }
}

