@use "global" as *;

.price-list__items {
    margin-top: rem(52);
    @include mq("md") {
        margin-top: rem(150);
    }
}

.price-list__item:not(:first-child) {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    } 
}
