@use "global" as *;

// .sideber-campaign-card {
//     display: grid;
//     row-gap: rem(40);
//     @include mq("md") {
//         grid-template-columns: repeat(2, 1fr);
//         row-gap: rem(80);
//         column-gap: rem(40);
//     }
// }

// .campaign-card__img--sub {
//     @include mq("md") {
//         aspect-ratio: 520 / 347;
//         width: 100%;
//     }
// }

.sideber-campaign-card__img {
    aspect-ratio: 294 / 188;
    width: 100%;
}

.sideber-campaign-card__img img {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideber-campaign-card__body {
    @include mq("md") {
        padding-top: rem(16);
        padding-bottom: rem(24);
    }
 }

 .sideber-campaign-card__title {
    font-size: rem(16);
    font-weight: $medium;
    font-family: $third-font-family;
    line-height: 1.5;
    text-align: center;
    @include mq("md") {
        font-size: rem(24);
    }
}

 .campaign-card__title.campaign-card__title--center {
    text-align: center;
    padding-bottom: 0;
}

.sideber-campaign-card__text {
    @include mq("md") {
        margin-top: rem(8);
        font-size: rem(14);
        line-height: 1.71428;
    }
}

.sideber-campaign-card__price-sub {
    font-size: rem(20);
    line-height: 1;
    font-weight: $bold;
    font-family: $second-font-family;
    color: $darkgreen;
    text-decoration: rem(3) line-through $orange;
    margin-top: rem(10);
    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(14);
    }
}

.sideber-campaign-card__price-sub {
    @include mq("md") {
        font-size: rem(20);
    }
}

.sideber-campaign-card__price-main {
    @include mq("md") {
        font-size: rem(32);
    }
}