@use "global" as *;

.terms-of-service-mv {
    position: relative;
    width: 100%;
    height: rem(460);
    min-height: rem(300);
    @include mq("md") {
        height: rem(548);
        min-height: rem(400);
    }
}

.terms-of-service-mv__inner {
    // position: relative;
    width: 100%;
    height: inherit;
    min-height: inherit;
}

.terms-of-service-mv__img {
    display: block;
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.terms-of-service-mv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 375 / 460;
    @include mq("md") {
        aspect-ratio: 1440 / 548;
    }
}

.terms-of-service-mv__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: $white;
    @include mq("md") {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.terms-of-service-mv__title {
    font-size: rem(40);
    font-family: $second-font-family;
    font-weight: $regular;
    white-space: nowrap;
    text-align: center;
    @include mq("md") {
        font-size: rem(80);
    }
}

.terms-of-service-mv__img {
    display: block;
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.terms-of-service-mv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 375 / 460;
    @include mq("md") {
        aspect-ratio: 1440 / 548;
    }
}

.terms-of-service-mv__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: $white;
    @include mq("md") {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.terms-of-service-mv__title {
    font-size: rem(40);
    font-family: $second-font-family;
    font-weight: $regular;
    white-space: nowrap;
    text-align: center;
    @include mq("md") {
        font-size: rem(80);
    }
}
