@use "global" as *;

.terms-of-service-main__inner.common-fish::before {
    top: -1.4%;
    @include mq("md") {
        top: -7%;
    }
}

.terms-of-service-main__container {
    @include mq("md") {
        max-width: rem(800);
        margin-left: auto;
        margin-right: auto;
    }
}

.terms-of-service-main__title {
    font-size: rem(24);
    font-weight: $medium;
    font-family: $third-font-family;
    line-height: 1.4583;
    color: $darkgreen;
    @include mq("md") {
        font-size: rem(32);
        line-height: 1.4375;
    }
}

.terms-of-service-main__text {
    margin-top: rem(40);
    font-size: rem(16);
    font-weight: $regular;
    font-family: $third-font-family;
    line-height: 2;
    color: $darkgreen;
}

.terms-of-service-main__text ol {
    list-style-type: decimal;
    padding-left: 1.5em;
}

.terms-of-service-main__text ol:not(:first-child) {
    margin-top: rem(31);
}

.terms-of-service-main__text p:not(:first-child) {
    margin-top: rem(33);
}

