@use "global" as *;

.voice-list__inner.common-fish::before {
    top: -0.8%;
    @include mq("md") {
        top: -5%;
    }
}

.voice-list__tab {
    margin-top: rem(52);
    @include mq("md") {
        margin-top: rem(150);
    }
}

.voice-list__items {
    margin-top: rem(38);
}