@use "global" as *;

.voice-card {
    padding-top: rem(16);
    padding-bottom: rem(24);
    padding-left: rem(16);
    padding-right: rem(16);
    box-shadow: 0 rem(4) rem(4) 0 rgba(0,0,0,0.25);
}

.voice-card:not(:first-child) {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: 0;
        margin-left: rem(40);
    }
}

.voice-card__info {
    @include mq("md") {
        display: flex;
        justify-content: space-between;
    }
}

.voice-card__age {
    font-size: rem(12);
    line-height: 1.5;
    font-weight: $regular;
    color: $darkgreen;
}

.voice-card__category {
    display: inline-block;
    font-size: rem(12);
    line-height: 1.833;
    font-weight: $regular;
    color: $green;
    border: rem(1) solid $green;
    padding: rem(4) rem(12);
    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.voice-card__title {
    font-size: rem(16);
    line-height: 1.4375;
    font-weight: $medium;
    color: $darkgreen;
    border-bottom: rem(1) solid $green;
    padding-bottom: rem(4);
    margin-top: rem(4);
    @include mq("md") {
        margin-top: rem(8);
        font-size: rem(24);
        line-height: 1.458;
    }
}

.voice-card__img {
    margin-left: rem(13);
    @include mq("md") {
        margin-left: rem(16);
    }
}

.voice-card__img img {
    aspect-ratio: 151 / 117;
    width: 100%;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 180 / 140;
    }
}

.voice-card__top {
    display: flex;
    align-items: flex-end;
}

.voice-card__text {
    margin-top: rem(16);
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $regular;
    color: $darkgreen;
    @include mq("md") {
        margin-top: rem(40);
    }
}