@use "global" as *;

.voice-cards {
    grid-template-columns: repeat(1, 1fr);
    @include mq("md") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(40);
    }
}